/* Estilos CSS personalizados */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    min-height: 100vh; /* Garante que o corpo tenha pelo menos 100% da altura da tela */
    font-size: 10px; /* Define o tamanho da fonte global menor */
}

.button-wrapper {
    text-align: center;
    margin: 20px 0;
}

.btnSistema {
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    background-color: #17a2b8;
    color: white;
    font-size: 16px; /* Tamanho de fonte ajustado */
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.btnSistema:hover {
    background-color: #138496;
    transform: scale(1.05);
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    flex: 1; /* Faz o container ocupar o espaço disponível */
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    transition: transform 0.3s ease;
    min-height: 400px; /* Altura mínima para manter os containers na mesma posição */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    font-size: 18px; /* Diminuindo o tamanho da fonte do título h1 */
    color: #333;
}

.calc-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 12px; /* Tamanho de fonte ajustado para os rótulos */
    font-weight: bold;
}

input[type="number"], input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px; /* Tamanho de fonte ajustado para os inputs */
}

button {
    padding: 40px 80px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 14px; /* Tamanho de fonte ajustado para os botões */
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.result-container {
    font-size: 14px; /* Reduzindo o tamanho da fonte dos resultados */
    color: #333;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-container p {
    margin: 10px 0;
    text-align: center;
}

.discounted-monthly-cost-container,
.discounted-annual-cost-container {
    display: none;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url('images/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Faz a imagem de fundo permanecer fixa enquanto o conteúdo rola */
    width: 100%; /* Garante que a imagem preencha 100% da largura */
    height: 100%; /* Garante que a imagem preencha 100% da altura */
}


.footer-info {
    background-color: 0;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Garante que o rodapé fique no final da página */
    font-size: 10px; /* Reduzindo o tamanho do texto do rodapé */
}

.footer-info p {
    margin: 5px 0;
}

.footer-info a {
    color: #4CAF50;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container-wrapper {
    flex: 1;
}

.footer-info {
    padding: 20px;
    text-align: center;
    width: 100%;
}
